body{
    background-color: C0C9EE;
}
nav{
    display: flex;
    background-color:EE66A6;
    top: 0px;
    height: 50px;
    border-radius: 20px;
}
#image{
   width: 60px;     /* Change as needed */
  height: auto;    /* Maintains aspect ratio */
  margin-right: 20px;
  border-radius: 20px;
  padding-top: 7px;
  padding-left: 5px;
}
#name{
    margin-top: -0.3cm;
    margin-left: -1cm;
    font-family: "Honk", system-ui;
}
.navigation{
    background-color: white;
    gap: 50px;
}
#about{
    margin-left: 15cm;
    padding-top: 0.5cm;
    font-family: "Inter", sans-serif;
    color: black;
}
#where{
    padding-top: 0.5cm;
    font-family: "Inter", sans-serif;
    color: black;
}
#things{
    padding-top: 0.5cm;
    font-family: "Inter", sans-serif;
    color: black;
}
#big{
    display: flex;
}
#small{
    padding-left: 20px;
    padding-top: 90px;
}
#first{
    height: 300px;
    width: 500px;
    border-radius: 20px;
}
#little{
    padding-left: 20px;
    padding-top: 90px;
}
#second{
    height: 300px;
    width: 500px;
    border-radius: 20px;
}
#side{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 30px;
    
}
#activity1{
    height: 150px;
    width: 150px;
    border-radius: 20px;
}
.pictures{
    height: 20px;
    width: 20px;
}
#activity2{
    height: 150px;
    width: 150px;
    border-radius: 20px;
    margin-top: 200px;
}
